@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primaryFont);
}


/*--------Global styles--------*/
:root{
    --primary-color: #000;
    --secondary-color: #F34949;
    --primaryFont: 'Poppins', sans-serif;
    --secondary-font: 'Ubuntu', sans-serif;
}
h1, h2{
    font-family: var(--secondary-font);
}
h1{
    font-size: 50px;
    font-weight: 300;
}
h2{
    font-size: 30px;
}
h5{
    font-size: 19px;
    font-family: var(--secondary-font);
    color: #000;
}
p{
    letter-spacing: .5px;
}
li, a{
    text-decoration: none;
    list-style: none;
    display: inline-block;
}
section{
    margin-top: 50px;
}
h6, span{
    margin-left: -3px;
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 400;
}
.t-center{
    text-align: center;
}
.container{
    max-width: 90%;
    margin: 50px auto;
}
.mt-50{
    margin-top: 50px;
}
.action-btn {
    background: var(--secondary-color);
    padding: 10px 30px;
    border-radius: 24px;
    color: #fff;
    margin: 10px 0;
    font-weight: 500;
}
.d-flex{
    display: flex;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.nav-top li a{
    padding: 0 20px;
    color: #000;
    font-weight: 200;
    font-size: 16px;
}

/*-------Header banner area---------*/
.logo-area span{
    font-size: 18px;
    font-weight: 600;
}
.header-banner-section{
    display: flex;
}
.banner-content {
    margin-top: 20px;
}
.banner-content h1{
    letter-spacing: 1px;
    line-height: 70px;
}
.header-action-button {
    margin-top: 30px;
}
.banner-content .video-play{
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    transition: .5s;
}
.banner-content .video-play i{
    padding: 10px;
    font-size: 25px;
}
.banner-content .video-play:hover{
    color: var(--secondary-color);
}
.support-section{
    margin-top: 60px;
}
.support-section ul li{
    padding: 10px;
    display: inline-block;
    position: relative;
    font-size: 20px;
    color: #4d4c4c;
    font-family: var(--primaryFont);
}
.support-section ul li i{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}
.support-section ul li:not(:last-child)::after {
    position: absolute;
    content: '';
    top: 0px;
    right: 0;
    background: #dadada;
    width: .5px;
    height: 75px;
}

.banner-img {
    height: 450px;
    width: 550px
}
.banner-img img{
    width: 100%;
    height: 100%;
}

/*------------------Header Responsive------------------*/

@media (max-width:700px){
    
    .header-nav .nav-top{
        display: none;
    }
    .header-banner-section {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .banner-img {
        height: 450px;
        width: 550px;
        margin: 10px auto;
    }
}

@media (min-width: 360px) and (max-width: 680px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 25px;
    }
    p{
        font-size: 14px;
    }
    .logo-area{
        margin: auto;
    }
    .banner-content h1 {
        letter-spacing: 1px;
        line-height: 63px;
    }
    .banner-img{
        display: none;
    }
    .support-section ul li {
        font-size: 15px;
        text-align: center;
    }
    .header-action-button a{
        display: block;
        width: 300px;
        margin: 10px auto;
    }
}


/*------------------About section design-------------------*/
.about-section{
    gap: 35px;
    margin-top: 70px;
}
.about-contents{
    margin-top: 8%;
}
.about-contents h6{
    font-weight: 300;
    font-size: 16px;
}
.about-contents h2{
    margin-bottom: 1em;
    letter-spacing: .1px;
}
.about-contents p{
    font-weight: 300;
    font-size: 15px;
    color: #413e3b;
}
.about-contents a {
    margin-top: 30px;
    padding: 10px 50px;
}

/*---------------About section responsive---------------*/
@media (max-width:700px){
    .about-section{
        flex-direction: column;
        text-align: center;
    }
    .about-img img{
        width: 90%;
        height: 350px
    }
}
@media (min-width: 360px) and (max-width: 680px){
    .about-section{
        flex-direction: column;
    }
}



/*------------------Dishes Section------------------*/
.dishes-section{
    background: #f7f8f9;
    padding: 30px 0;
}
.dishes-heading{
    text-align: center;
    margin: 8%;
}

.dish-content-box {
    min-width: 40%;
    margin-top: 4%;
}
.dish-content-box-2{
    max-width: 50%;
}
.dish-box{
    margin: 60px 0;
}
.dish-num h1{
    position: relative;
    font-size: 60px;
    font-weight: 600;
}

.dish-num h1::after {
    content: '';
    display: block;
    position: absolute;
    top: 29px;
    left: 100px;
    width: 218px;
    height: 2px;
    background: #000;
}
.dish-con {
    margin-top: 15%;
    margin-left: 3%;
}
.dish-con h3, .dish-con span{
    font-size: 30px;
    font-weight: 500;
}
.dish-con h3 span{
    margin-left: 0;
}
.dish-con p{
    max-width: 60%;
    margin: 1em 0;
    letter-spacing: .5px;
}
.dish-con a{
    margin: 20px 0;
}

/*------------------Dishes Section Responsive------------------*/
@media (min-width: 360px) and (max-width: 680px){
    .dish-content-box, .dish-box{
        flex-direction: column;
        text-align: center;
    }
    .dish-content-box-2{
        max-width: 100%;
    }
    .dish-box-2{
        flex-direction: column-reverse;
    }
    .dish-box{
        margin-top: 15%;
    }
    .dish-num h1::after {
        top: 90px;
        left: 50%;
        transform: translate(-50%);
        width: 113px;
        height: 1px;
    }
    .dish-con p {
        max-width: 90%;
        margin: 20px auto;
    }
    .dish-img img{
        max-width: 90%;
    }
}

/*------------------Menu Section----------------------*/
.menu-section{
    margin: 10%;
}
.menu-box{
    margin-top: 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
}
.img-content-box{
    align-items: center;
    gap: 10px
}
.item-price{
    margin-top: 20px;
    font-size: 22px;
}
.item-box img{
    width: 23%;
    border-radius: 50%;
    object-fit: cover;
}
.item-description h5{
    font-size: 14px;
    margin-top: 7px;
    color: #4d4c4c;
}

/*------------------Menu section Responsive--------------------*/
@media (min-width: 360px) and (max-width: 680px){
    .menu-box{
        grid-template-columns: repeat(1, 1fr);
    }
}


/*--------------------Booking section-----------------------*/
.booking-section{
    background-image: url(./img/t3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 110vh;
    color: var(--primary-color)
}
.booking-form {
    width: 40%;
    height: 550px;
    background: #fff;
    position: relative;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 30px;
    padding: 45px 0;
}
.booking-form form{
    width: 80%;
    margin: 10px auto;
}
.booking-form form input, textarea, select{
    display: block;
    width: 100%;
    margin: 6px 0;
    padding: 8px;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 5px;

}
.booking-form form input[type="submit"] {
    display: inline-block;
    padding: 10px;
    width: 167px;
    border-radius: 25px;
    border: 0;
    margin-top: 20px;
}
.booking-form form input:focus, textarea:focus, select:focus{
    border: 0;
    border: 1px solid rgb(75, 73, 74);
}

/*---------------------Booking section responsive-------------------------*/
@media (min-width: 360px) and (max-width:  680px){
    .booking-section{
        margin-top: 100px;
    }
    .booking-form {
        width: 100%;
        top: 18px;
        padding: 25px 0;
        height: 500px;
    }
}

/*------------------------Footer Section---------------------*/
footer{
    padding: 3% 0 0 0;
}
footer h4{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 20;
}
.open-hours, .footer-content,.contact-info{
    max-width: 33%;
    display: block;
}
.open-hours h5, .open-hours h5 span{
    font-weight: 400;
}
.open-hours h5 span{
    padding-left: 40px;
    display: inline-block;

}
.open-hours ul li{
    display: flex;
    justify-content: space-between;
}
.open-hours ul li h5, .contact-info ul li{
    font-size: 16px;
}
.open-hours ul li, .contact-info ul li{
    display: block;
    width: 100%;
}
.footer-content .logo, .open-hours h4, .contact-info h4{
    margin-bottom: 20px;
}
.contact-info h5{
    font-weight: 400;
    font-size: 22px;
    color: var(--secondary-color);
    text-transform: capitalize;
}
.footer-content p{
    font-size: 15px;
    font-weight: 400;
}
/*--------------------Footer Section Responsive---------------------*/
@media (min-width: 360px) and (max-width: 680px){
    footer{
        padding: 0;
    }
    .footer-section{
        flex-direction: column;
    }
    .open-hours, .footer-content,.contact-info{
        max-width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
}